<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deadsec.isliroutine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.GroupSelectActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".notification.NotificationPublisher" />

        <activity
            android:name=".activity.RoutineActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingTheme"
            android:parentActivityName=".activity.RoutineActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.deadsec.isliroutine.activity.RoutineActivity" />
        </activity>
        <service android:name=".notification.NotificationService" android:label="Set Daily Notification alarm Service">
            <intent-filter>
                <action android:name="com.example.deadsec.isliroutine.notification.NotificationService"/>
            </intent-filter>
        </service>

        <receiver android:name=".notification.NotificationReceiver"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>