<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tk.blankstudio.isliroutine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GroupSelectActivity"
            android:theme="@style/WhiteNoActionBar" />

        <receiver android:name=".notification.NotificationPublisher" />

        <activity
            android:name=".activity.RoutineActivity"
            android:theme="@style/RoutineActivityTheme" >
            <intent-filter>
                <action android:name="updateRoutineTimeTable" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/WhiteToolBar"
            android:parentActivityName=".activity.RoutineActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.blankstudio.isliroutine.activity.RoutineActivity" />
        </activity>
        <activity
            android:name=".activity.ClassRoomActivity"
            android:theme="@style/WhiteToolBar"
            android:exported="true" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".activity.SettingsActivity"
            android:theme="@style/WhiteNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.blankstudio.isliroutine.activity.SettingsActivity" />
        </activity>

        <service
            android:name=".notification.NotificationService"
            android:label="Set Daily Notification alarm Service">
            <intent-filter>
                <action android:name="tk.blankstudio.isliroutine.notification.NotificationService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".notification.NotificationReceiver"
            android:label="StartMyServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1fa158df2b1bf417f3e02e7c2782805d41bad7b3" />

        <receiver android:name=".widget.RoutineWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/routine_widget_holder" />
        </receiver>

        <service android:name=".widget.RoutineWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>


        <!--<activity android:name=".RoutineWidgetConfigureActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
    </application>

</manifest>